{% extends "layout/main.html" %}

{% block styles %}
	<meta name="HandheldFriendly" content="True">
{% endblock %}

{% block body %}


<div id="content">
	<h2 style="text-align: center;">If you could go back on time...</h2>

	<div id="center" style="margin-left: 44px; margin-top:25px">

		<p style="color: #cf416b;">Would you have done something different this year?</p> 
		<p style="color: #573051;">Clear your mind sending free anonymously messages through SMS.</p>
		<p style="color: #573051;">Start 2013 with no regrets.</p>

		<a href="/"><img src="{{ url_for('static', filename='img/send.png') }}" class="icons icon1"></a>
		<img src="{{ url_for('static', filename='img/regrets.png') }}" class="icons icon2">
		<img src="{{ url_for('static', filename='img/secrets.png') }}" class="icons icon3">
	</div>
</div>


{% endblock %}


{% block scripts %}{% endblock %}