{% extends "layout/main.html" %}


{% block body %}


<div id="content">
	<h2 styles="text-align: center;">If you could go back on time...</h2>

	<div id="center" styles="margin-left: 44px;">

		<p style="color: #cf416b;">Would you have done something different this year?</p> 
		<p style="color: #573051;">Clear your mind sending free anonymously messages through SMS.</p>
		<p>Start 2013 with no regrets.</p>

		<a href="/"><img src="{{ url_for('static', filename='img/send.png') }}" class="icons"></a>
		<img src="{{ url_for('static', filename='img/regrets.png') }}" class="icons">
		<img src="{{ url_for('static', filename='img/secrets.png') }}" class="icons">
	</div>
</div>


{% endblock %}


{% block styles %}{% endblock %}
{% block scripts %}{% endblock %}