{% extends "layout/main.html" %}


{% block body %}


<div id="content">
	<div id="center">
		<p>
		<label id="line1">Do you regret about not saying something to someone?</label>
		<label id="line2">Say it now!</label>
		</p>

		<div id="form">
		<form method="POST">
			<h2 for="telephone" style="color: white;">
			Enter a phone number
			<input type="tel" id="telephone" name="telephone" placeholder="(eg: 19174561234)"></h2>
			<h2 for="telephone" style="color: white; margin-top: -30px;">
			Message
			<input type="text" id="sms_text" name="sms_text" placeholder="(eg: 'I still love you!')"></h2>
			<input type="submit" class="btn" value="Send" style="margin-top: -25px;">
		</form>

		<a href="/about.html"><img src="{{ url_for('static', filename='img/about.png') }}" class="icons"></a>
		<img src="{{ url_for('static', filename='img/regrets.png') }}" class="icons">
		<img src="{{ url_for('static', filename='img/secrets.png') }}" class="icons">
		</div>
	</div>
</div>


{% endblock %}


{% block styles %}{% endblock %}
{% block scripts %}{% endblock %}